.sliding-carousel {
    .carousel-container {
        .carousel-cont-track {
            gap: 0;
            margin: 0 1rem;
        }
        .carousel-cont-track>* {
            margin: 0 0.8rem;
        }
    }
}